@require "./mixins.styl";

[class|="dc-text"] {
  font-weight: normal;
}

.dc-bold, .dc-bold [class|="dc-text"] {
  dc-bold();
}

.dc-base-font {
  dc-base-font();
}

.dc-text-heading-1 {
  dc-text-heading-1();
}

.dc-text-heading-2 {
  dc-text-heading-2();
}

.dc-text-heading-3 {
  dc-text-heading-3();
}

.dc-text-heading-4 {
  dc-text-heading-4();
}

.dc-text-button {
  dc-text-button();
}

.dc-text-body {
  dc-text-body();
}

.dc-text-link {
  dc-text-link();
}

.dc-text-smaller {
  dc-text-smaller();
}
