@import "../../style/constants";

.dc-closable-tooltip {
  .dc-closable-tooltip-close-button {
    color: $currys-color;
    text-align: right;
    .dc-icon {
      fill: $currys-color;
    }
  }

  .dc-close {
    display: inline-block;
  }
}

.dc-closable-tooltip_hidden {
  display: none;
}
