/coverage
/node_modules
/styleguide/*
!/styleguide/*/index.html
/lib
/src/atoms/icons/index.js
/.nyc_output
.idea
.vscode
npm-debug.log
.DS_Store

/tests/output
steps.d.ts
package-lock.json

*.build.js
*.build.js.map
/backstop_data/bitmaps_test
/backstop_data/html_report
release-prepare.log
release-publish.log
