@import "../../../style/constants";

[data-component="FooterCompanyDetails"] {
  text-align: center;
  padding: 10px;
  color: $dc-color-gs-3;
  font-size: 14px;
}
[data-component="FooterCompanyDetails"] [data-element="Link"] {
  text-decoration: underline;
}
[data-component="FooterCompanyDetails"] [data-element="Link"],
[data-component="FooterCompanyDetails"] [data-element="Link"]:hover {
  color: $dc-color-primary-hover;
}
