// NOT USED IN MY ACCOUNT ANYMORE
//  ------------------------------------------------------- Currys
$currys-color        = #4855A0;
$currys-color-dark   = #161B7A;
$currys-color-light  = #ECF5FF;
$currys-color-info   = #F5F7FD;
$currys-color-empty  = #FFFFFF;

//  ------------------------------------------------------- Currys Ireland
$currysie-color        = #4855A0;
$currysie-color-dark   = #161B7A;
$currysie-color-light  = #ECF5FF;
$currysie-color-info   = #F5F7FD;
$currysie-color-empty  = #FFFFFF;

//  ------------------------------------------------------- PC World
$pcworld-color       = #75206E;
$pcworld-color-dark  = #5C1D58;
$pcworld-color-light = #FAF3FE;
$pcworld-color-info  = #FAF3FE;
$pcworld-color-empty = #FFFFFF;

//  ------------------------------------------------------- green
$color-primary-c-1 = #3B6905;
$color-primary-c-2 = #4E8130;
$color-primary-c-3 = #7BA264;
$color-primary-c-4 = #f0f6eb;
//  ------------------------------------------------------- grey scale
$color-primary-d-1 = #000;
$color-primary-d-1-5 = #222;
$color-primary-d-2 = #333;
$color-primary-d-3 = #666;
$color-primary-d-4 = #999;
$color-primary-d-5 = #BBB;
$color-primary-d-6 = #CCC;
$color-primary-d-6-5 = #D8D8D8;
$color-primary-d-7 = #F2F2F2;
$color-primary-d-8 = #FFF;
$color-primary-d-9 = #e0e0e0;
$color-primary-d-10 = #eee;

//  ------------------------------------------------------- secondary

//  ------------------------------------------------------- green
$color-secondary-a-1 = #3F771F;
$color-secondary-a-2 = #71BD6A;
$color-secondary-a-3 = #AFDBAC;
$color-secondary-a-4 = #E9F5E8;
$color-secondary-a-5 = #F0F6EB;
//  ------------------------------------------------------- blue
$color-secondary-b-1 = #346F9F;
$color-secondary-b-3 = #95BFE0;
$color-secondary-b-5 = #458dc8;
$color-secondary-b-6 = #f5f7fd;
//  ------------------------------------------------------- orange
$color-secondary-c-1 = #915A1A;
$color-secondary-c-2 = #EE9022;
$color-secondary-c-3 = #F6C183;
$color-secondary-c-4 = #FDEEDC;
$color-secondary-c-5 = #e4c55f;
//  ------------------------------------------------------- red
$color-secondary-d-1 = #A10505;
$color-secondary-d-2 = #C90404;
$color-secondary-d-3 = #E37376;
$color-secondary-d-4 = #F9DBDC;
//  ------------------------------------------------------- yellow
$color-secondary-e-1 = #C9D130;
$color-secondary-e-2 = #F2F96D;
$color-secondary-e-3 = #F5F6CA;
$color-secondary-e-4 = #FEFAF1;
//  ------------------------------------------------------- purple
$color-secondary-f-1 = #77349D;
$color-secondary-f-2 = #9945C8;
$color-secondary-f-3 = #C796E1;
$color-secondary-f-4 = #EFE1F8;
$color-secondary-f-5 = #4854a0;
// -------------------------------------------------------- legacy-search
$color-secondary-g-1 = #d3deff;
$color-secondary-g-2 = #578faf;

// -------------------------------------------------------- tooltip
// 1. box-shadow/border
// 2. background-color
$tooltip-positive-1 = #4e8130;
$tooltip-positive-2 = #f0f6eb;

$tooltip-negative-1 = #c90404;
$tooltip-negative-2 = #ffefef;

$tooltip-neutral-1 = $currys-color;
$tooltip-neutral-2 = #ffffff;

$tooltip-info-1 = $currys-color;
$tooltip-info-2 = $currys-color-info;

$tooltip-warning-1 = #ee9022;
$tooltip-warning-2 = #fefaf1;

// -------------------------------------------------------- order status
$status-positive-color = #488020;
$status-positive-background = #f0f6eb;

$status-negative-color = #ee9022;
$status-negative-background = #fdeedc;
