$product-card-height = 300px;
$product-card-height-mobile = 280px;

// @stylint off - DEPRECATED AND WILL BE REMOVED SOON
$productCardHeight = $product-card-height;
$productCardHeightMobile = $product-card-height-mobile;
// @stylint on
