// NOT USED IN MY ACCOUNT ANYMORE
@import "font";

$base-line-height = $base-font-size * $base-line-height-ratio;

$spacing-xxxxs = $base-line-height * 0.125;
$spacing-xxxs = $base-line-height * 0.25;
$spacing-xxs = $base-line-height * 0.5;
$spacing-xs = $base-line-height * 0.75;
$spacing-s = $base-line-height * 0.875;
$spacing-m = $base-line-height;
$spacing-l = $base-line-height * 1.125;
$spacing-xl = $base-line-height * 1.25;
$spacing-xxl = $base-line-height * 1.5;
$spacing-xxxl = $base-line-height * 2;
$spacing-xxxxl = $base-line-height * 4;
