@import "../../style/constants";

[data-component="Footer"] {
  display: table;
  width: 100%;
  color: #666;
  font-size: 13px;
}

[data-component="Footer"] > [data-element="Links"],
[data-component="Footer"] > [data-element="StoreFinderWrapper"] {
  vertical-align: top; 
}

[data-component="Footer"] > [data-element="Links"] {
  display: table-cell;
  width: 100%;
}

[data-component="Footer"] > [data-element="Links"] ul {
  margin: 0;
}

[data-component="Footer"] h4, [data-component="Footer"] h5, {
  margin-top: 0;
}

[data-component="Footer"] > [data-element="Links"] a {
  color: $dc-color-link;
} 

[data-component="Footer"] > [data-element="StoreFinderWrapper"] {
  display: none;
}

[data-component="Footer"] [data-element="Links"] [data-element="Link"] {
  display: inline-block;
  text-decoration: none;
}

[data-component="Footer"] [data-element="Links"] [data-element="Item"] {
  display: none;
}
[data-component="Footer"] [data-element="Links"] [data-element="Item"]:nth-child(2),
[data-component="Footer"] [data-element="Links"] [data-element="Item"]:nth-child(3) {
  display: block
}

[data-component="Footer"] [data-element="Links"] [data-element="Column"] {
  width: 100%;
  padding: 0;
}

[data-component="Footer"] [data-element="Links"] [data-element="Link"] {
  padding: 12.5px 0px;
}

@media $gte-tablet {
  [data-component="Footer"] [data-element="Links"] [data-element="Column"] {
    padding: 15px 10px 15px 0px;
    width: 33.33%;
    display: inline-block;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Item"] {
    display: block;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Heading"],
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="Heading"] {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7.5px;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Link"] {
    padding: 5px 5px 5px 0;
  }
}

@media $desktop {
  [data-component="Footer"] > [data-element="Links"] {
    width: 75%;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Link"] {
    padding: 2.5px 2.5px 2.5px 0px;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Column"] {
    padding: 10px 10px 10px 0px;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Link"]:hover,
  [data-component="Footer"] [data-element="Links"] [data-element="Link"]:focus,
  [data-component="Footer"] [data-element="Links"] [data-element="Link"]:active {
    text-decoration: underline;
  }
  [data-component="Footer"] [data-element="Links"] [data-element="Heading"],
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="Heading"] {
    font-size: inherit;
  }
  [data-component="Footer"] > [data-element="StoreFinderWrapper"] {
    display: table-cell;
    border-left: 1px solid $dc-color-gs-5;
    padding: 10px;
    background: #fbfbfb;
  }
  [data-component="Footer"] [data-component="StoreFinder"] {
    position: relative;
  }
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="Description"] {
    padding: 0 5px 5px 0;
    margin-bottom: 5px;
    width: 65%;
  }
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="Link"] {
    display: inline-block;
    padding: 10px;
    background: $dc-color-gs-6;
    color: $dc-color-link;
    text-decoration: none;
  }
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="Link"] > [data-component="Icon"] {
    width: 12px;
    margin-right: 5px;
  }
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="UkMap"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-null;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    height: 120px;
    width: 75px;
  }
  [data-component="Footer"] [data-component="StoreFinder"] [data-element="EirMap"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $z-index-null;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    width: 90px;
    height 133px;
  }
}
