$dc-color-gs-0 = #000000;
$dc-color-gs-1 = #222222;
$dc-color-gs-2 = #333333;
$dc-color-gs-3 = #666666;
$dc-color-gs-4 = #999999;
$dc-color-gs-5 = #CCCCCC;
$dc-color-gs-6 = #F2F2F2;
$dc-color-gs-7 = #FFFFFF;

$dc-color-carphone = #29A9DB;
$dc-color-dirty-yellow = #E4C55F;
