$label-bg = #542376;
$label-bg-from = #2b2b79;
$label-bg-to = #7e1b72;

.dc-label {
  display: flex;
  flex-direction: column;
  padding: 2px 4px 2px 4px;
  height: 37px;
  background-color: $label-bg;
  background-image: linear-gradient(to right, $label-bg-from, $label-bg-to);
  color: white;
  text-align: center;
  justify-content: center;
}

.dc-label__title {
  font-weight: bold;
  font-size: 12px;
}

.dc-label__sub-title {
  font-size: 11px;
}
