@import "../../style/constants";

.dc-location-finder {
  position: relative;
  z-index: 1;
  box-sizing: border-box;

  .dc-location-finder-search {
    .dc-search-list {
      padding-bottom: 40px;
      background: #fff url(https://developers.google.com/places/documentation/images/powered-by-google-on-white.png) no-repeat bottom 10px left 10px;
    }
  }

  .dc-button-wrapper {
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0;

    button {
      border: 1px solid $dc-color-gs-5;
      border-radius: 2px;
      font-size: 13px;
      height: 46px;
      margin-top: 5px;
      max-width: 100%;
      text-align: left;
    }
  }

  .dc-location-finder-error {
    position: absolute;
    margin: 5px 0;
    color: $dc-color-price;
    font-size: 12px;
  }
}
