@import "../../style/constants";

.dc-heading-icon {
  margin-right: 10px;

  .dc-icon {
    margin-top: -5px;
    width: 20px;
    vertical-align: middle;
  }
}

.dc-h1 {
  margin: 0 0 7px;
  font-weight: normal;
  font-size: 20px;

  @media $tablet {
    margin-bottom: 6px;
  }
  @media $mobile {
    margin-bottom: 17px;
  }
}

.dc-h2 {
  margin: 0 0 11px;
  font-weight: bold;
  font-size: 16px;
}

.dc-h3 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 14px;
}

.dc-h4 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 13px;
}
  
.dc-h5 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 12px;
}
  
.dc-h6 {
  margin: 0 0 10px;
  font-weight: bold;
  font-size: 11px;
}
