@import "../../style/constants";

.dc-add-to-basket-button {

  &__save-date {
    margin-top: 5px !important;
    width: 100%;
    color: $dc-color-gs-3;
    text-align: center;
    font-size: $font-size-xxs;
  }

  &--buy {
    .dc-icon {
      margin-top: -18px;
      margin-right: 25px;

      svg {
        height: 30px;
      }
    }
  }

  &--download {
    .dc-icon {
      margin-top: -5px;
      margin-right: 10px;

      svg {
        height: 18px;
      }
    }
  }



}
