@import "../../style/constants";

.dc-loader {
  .dc-icon {
    stroke: $dc-color-gs-4;
  }
}

.dc-loader--left {
  text-align: left;
}

.dc-loader--center {
  text-align: center;
}

.dc-loader--right {
  text-align: right;
}

.dc-loader--small .dc-icon {
  width: 20px;
  height: @width;
}

.dc-loader--medium .dc-icon {
  width: 30px;
  height: @width;
}

.dc-loader--large .dc-icon {
  width: 40px;
  height: @width;
}
