@import "../../style/constants";

.dc-close {
  cursor: pointer;

  .dc-icon {
    width: 24px;
    height: 24px;
  }

  .dc-close-label {
    vertical-align: middle;
  }

  &.dc-closable-tooltip-default {
    padding: $spacing-m $spacing-xs $spacing-xs $spacing-xs;
  }

  &.dc-product-swatch-closable-tooltip {
    padding: $spacing-xxxs $spacing-xxxs $spacing-xxxs $spacing-xxxs;
  }
}
