.dc-confirmation-details {
  display: flex;
  margin: 20px 0 15px;
  
  .dc-icon {
    margin-right: 10px;
    margin-left: 5px;
    fill: #222;
    flex-shrink: 0;
    
    svg {
      width: 20px;
      height: @width;
    }
  }
}

.dc-confirmation-continue-link {
  margin-top: 15px;
  margin-bottom: 12px;
  
  @media $mobile {
    margin-bottom: 7px;
  }
}
