@import "../../style/constants";

.dc-psi {
  margin-top: 9px;
}
.dc-psi-bar {
  display: flex;
  margin: 0 -5px;
  justify-content: space-between
}
.dc-psi-bar-indicator {
  display: inline-block;
  flex-grow: 1;
  margin: 0 5px;
  height: 4px;
  background-color: $dc-color-gs-5;
  transition: background-color 0.3s;
}
.dc-psi-strength-1,
.dc-psi-strength-2,
.dc-psi-strength-3,
.dc-psi-strength-4 {
  .dc-psi-bar-indicator:nth-child(1) {
    background-color: $dc-color-alert;
  }
}
.dc-psi-strength-2,
.dc-psi-strength-3,
.dc-psi-strength-4 {
  .dc-psi-bar-indicator:nth-child(2) {
    background-color: $color-secondary-a-2;
  }
}
.dc-psi-strength-3,
.dc-psi-strength-4 {
  .dc-psi-bar-indicator:nth-child(3) {
    background-color: $color-secondary-b-5;
  }
}
.dc-psi-strength-4 {
  .dc-psi-bar-indicator:nth-child(4) {
    background-color: $color-secondary-f-1;
  }
}

.dc-psi-message {
  margin-top: 7px;
  color: $dc-color-gs-3;
  font-size: 12px;

  .dc-psi-strength-0 & {
    color: $dc-color-price;
  }
  .dc-psi-strength-1 & {
    color: $dc-color-alert;
  }
  .dc-psi-strength-2 & {
    color: $dc-color-positive;
  }
  .dc-psi-strength-3 & {
    color: $color-secondary-b-5;
  }
  .dc-psi-strength-4 & {
    color: $color-secondary-f-1;
  }
}
