@import "../../style/constants";

.dc-share-link {

  .dc-link-label {
    padding-left: 13px;
    color: $currys-color;
  }

  .dc-icon-mail {
    fill: #666 !important;
    stroke: @fill !important;
  }

}

.dc-share-iframe {
  position: absolute;
  width: 105px;
  height: 27px;
  opacity: 0;
  transform: scale(3);
}

.dc-icon-facebook,
.dc-icon-twitter,
.dc-icon-google-plus,
.dc-icon-pinterest,
.dc-icon-hot-deals-uk,
.dc-icon-mail {
  width: 13px;
  text-align: center;
}

.dc-icon-facebook svg {
  margin-top: -3px;
  width: 18px;
}

.dc-icon-twitter svg {
  margin-top: -2px;
  width: 16px;
}
