@import "../../style/constants";

.dc-print {
  display: flex;
  align-items: flex-end;

  .dc-icon {
    stroke: none;
    width: 22px;
    height: 19px;
  }
}

.dc-print-label {
  padding: 0 7px;
}
