@require "../atoms/colors/variables.styl";

$theme = "pcworld";

$dc-color-primary = #75206E;
$dc-color-primary-hover = #5C1D58;

$dc-color-link = #75206E;
$dc-color-link-hover = #5C1D58;

$dc-color-buy = #4E8130;
$dc-color-buy-hover = #426E29;

$dc-color-positive = #4E8130;
$dc-color-positive-hover = #F0F6EB;

$dc-color-price = #C90404;
$dc-color-price-hover = #FFF2F2;

$dc-color-alert = #EE9022;
$dc-color-alert-hover = #FDEEDC;

$dc-color-message = #75206E;
$dc-color-message-hover = #FAF3FE;

// TODO: remove (this color is not in guidelines)
$dc-color-light = #FAF2FE;

@stylint off
foovar("src/themes/pcworld.js", {
  include: "^\$dc-"
});
@stylint on
