$spacing-1 = 5px;
$spacing-2 = 10px;
$spacing-3 = 15px;
$spacing-4 = 20px;


// DEPRECATED - prefer to use variables above!
$base-font-size = 16px;
$base-line-height-ratio = 1.25px;
$heading-line-height-ratio = 1.5px;

$base-line-height = $base-font-size * $base-line-height-ratio;

$spacing-xxxxs = $base-line-height * 0.125; // 2.5px
$spacing-xxxs = $base-line-height * 0.25;   // 5px
$spacing-xxs = $base-line-height * 0.5;     // 10px
$spacing-xs = $base-line-height * 0.75;     // 15px
$spacing-s = $base-line-height * 0.875;     // 17.5px
$spacing-m = $base-line-height;             // 20px
$spacing-l = $base-line-height * 1.125;     // 22.5px
$spacing-xl = $base-line-height * 1.25;     // 25px
$spacing-xxl = $base-line-height * 1.5;     // 30px
$spacing-xxxl = $base-line-height * 2;      // 40px
$spacing-xxxxl = $base-line-height * 4;     // 80px
