@import "../../style/constants";

.dc-price-block {
  overflow: hidden;
  padding: 5px;
  border-top: 1px solid $dc-color-gs-5;
  border-bottom: 1px solid $dc-color-gs-5;
  text-align: center;
  text-overflow: ellipsis;
  font-size: $font-size-s;
}

.dc-price-block__title,
.dc-price-block__price {
  font-weight: bold;
}
