.dc-rating {
  white-space: nowrap;
}

.dc-rating-item {
  display: inline-block;
  width: 15px;
  
  svg {
    width: 13px;
    fill: #d8d8d8;
    stroke: none;
  }
}

.dc-rating-item--active svg {
  fill: #fb8b39;
}

.dc-rating-item--half svg {
  fill: url(#a);
}

.dc-rating-count {
  margin-left: 5px;
}
