$transition-time-s = 0.2s;

.dc-form-sign-in {
  .dc-checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    margin-top: -5px;
    padding: 0;
    
    .dc-icon-chevron-right {
      margin-top: -2px;
    }
  }
}

.dc-link-forgot-password {
  font-size: 13px;
}

.dc-remember-me__expandable-text {
  position: relative;
  top: -1px;
  display: inline;

  .dc-expandable-text__content {
    padding-left: 32px;
  }
}

.dc-remember-me-wrapper {
  margin-bottom: $spacing-3;
}
